.second-container {
    width: 100%;
    display: flex;
    background-color: white;
    margin-top: 60px;
}

.second-container div {
    width: 32%;
    display: flex;
    flex-wrap: wrap;
}

.one-container {
    width: 50%;
    justify-content: center;
    align-content: center;
}

.one-container i {
    color: black;
}

.two-container {
    width: 50%;
    align-content: center;
}

.one-container a {
    font-size: 45px;
}